.line{
    margin-top: 22.5vh;
}

.about{
    /* line-height: 50pc; */
}
.aboutInfo_flex__center{
    font-size: 30px;
    text-align: center;
}
.test{
    text-align: center;
    line-height: 50pc ;
}

