.match {
    overflow: hidden;
  }
  
  .row {
    flex-direction: row !important;
  }
  
  .row>* {
    margin: 5px;
  }
  
  h3{
    font-size: 25px;
    font-weight: 200;
    
  }
  span{
    background-color: black;
  }
  
  
  .swipe {
    position: absolute;
  }
  
  .cardContainer {
    width: 90vw;
    max-width: 260px;
    height: 300px;
  }
  
  .card {
    position: relative;
    background-color: burlywood;
     margin-left: 77vh; 
    /* margin-left: 270%; */
    margin-top:20vh ;
    width: 100vw;
    max-width: 400px;
    height: 450px;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }
  
  .cardContent {
    width: 100%;
    height: 100%;
  }
  
  
  .card h3 {
    
    
  }

  .nameh3{

    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
  }
  
  .messageSwipe {
    width: 100%;
    justify-content: center;
    margin-top: 20%;
    color: #fff;
    animation-name: popup;
    animation-duration: 800ms;
  }
  

  @keyframes popup {
    0%   { transform: scale(1,1) }
    10%  { transform: scale(1.1,1.1) }
    30%  { transform: scale(.9,.9) }
    50%  { transform: scale(1,1) }
    57%  { transform: scale(1,1) }
    64%  { transform: scale(1,1) }
    100% { transform: scale(1,1) }
  }
  

  .typee{
    margin-right: 100px;
    
    bottom: 0;
    margin: 10px;
    color: #fff;
  }